{erl_opts, [debug_info]}.
{deps, [
  {eqwalizer_support,
  {git_subdir,
      "https://github.com/whatsapp/eqwalizer.git",
      {branch, "main"},
      "eqwalizer_support"}},
  {ecli,
  {git,
      "https://github.com/mgmtd/ecli"}},
  {nbtea,
  {git,
      "https://github.com/apex-hinde/NBTea"}}
]}.

{src_dirs, ["src"]}.
{shell, [
  % {config, "config/sys.config"},
    {apps, [adamantum]}
]}.